PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=taller_motocicletas
JWT_SECRET=cambia_esta_clave_super_secreta
JWT_EXPIRES_IN=8h
TALLER_NOMBRE=Taller Motocicletas ORDEN
TALLER_DIRECCION=Calle 10 # 25-40
TALLER_TELEFONO=300 555 1212
TALLER_NIT=900123456-1
